.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

.secrets
config.env

desktop.ini 

node_modules/
accesslog.txt

*.pem
