<html lang="en">
    <head>
        <title>About</title>
        <script>
            document.getElementById("nav-about").classList.add("activePage")
        </script>
    </head>

    <body class="bg">

        <!-- First Parallax  -->
        <div id="index-banner" class="parallax-container border paralaxBig">
            <div class="top">
                <div class="container">

                    <h1 class="header center white-text text-lighten-2 bold">
                        About Me</h1>

                    <h5 class="subtext center white-text text-lighten-2">Who am
                        I?</h5>

                </div>
            </div>

            <div class="parallax"><img
                    class="blurr"
                    src="./images/who_am_i.jpg"
                /></div>
        </div>

        <!-- Message Card -->
        <div class="row">
            <div class="col l10 offset-l1 s12 m12">

                <div class="card horizontal blue-grey darken-4">

                    <!-- Image  -->
                    <div class="card-image hide-on-med-and-down">
                        <img
                            class="controllerImageBig"
                            src="./images/portrait.jpg"
                        />
                    </div>

                    <div class="card-stacked">
                        <div class="card-content grey-text text-lighten-4">
                            <h5
                                class="orange-text controllerTitle"
                            >Biography</h5>
                            <p class="section">
                                Hi! My name is Manuel Lerchner and I am
                                passionate about informatics, programming, and
                                science.
                            </p>
                            <p class="section">
                                I love learning, solving problems, and building
                                things and I want to use these talents to design
                                things and create systems that benefit humanity.
                                <br />
                                I want to have a part in developing technologies
                                that will improve people’s lives and help
                                further our understanding of the universe.</p>
                            <p class="section">
                                This year i graduated from the TFO-Bruneck with
                                a specialization on electronics and automation
                                engineering in Bruneck, Italy.<br />
                                Next year i intend to start studying computer
                                science in Munich, Germany.
                            </p>
                            <p>
                                If you have any questions, comments, or just
                                want to chat about robots, feel free to get in
                                <a href="/contact">contact </a>
                                with me.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </body>
</html>