<html lang="en">
    <head>
        <title>About</title>
        <script>
            document.getElementById("nav-about").classList.add("activePage")
        </script>
    </head>

    <body class="bg">

        <!-- First Parallax  -->
        <div id="index-banner" class="parallax-container border paralaxBig">
            <div class="top">
                <div class="container">

                    <h1 class="header center white-text text-lighten-2 bold">
                        About Me</h1>

                    <h5 class="subtext center white-text text-lighten-2">Who am
                        I?</h5>

                </div>
            </div>

            <div class="parallax"><img
                    class="blurr"
                    src="/images/who_am_i.jpg"
                /></div>
        </div>

        <!-- Message Card -->
        <div class="row">
            <div class="col l10 offset-l1 s12 m12">

                <div class="card horizontal blue-grey darken-4">

                    <!-- Image  -->

                    <img
                        class="controllerImageBig hide-on-med-and-down"
                        src="/images/portrait.jpg"
                    />

                    <div class="card-stacked">
                        <div class="card-content grey-text text-lighten-4">
                            <h5 class="orange-text controllerTitle">
                                Biography</h5>
                            <p class="section">
                                Hi!<br />
                                My name is Manuel Lerchner and I am passionate
                                about informatics, programming, and science.
                            </p>
                            <p class="section">
                                Ever since my early childhood, I have been very
                                interested in technology and how technical
                                devices work. This interest continues to the
                                present day, and even today I forget everything
                                around me when I'm tinkering with a project.
                                Especially in the last few years, my interest
                                has increasingly turned towards computer
                                technology, which has allowed me to spend more
                                time on computer science in my spare time. Thus
                                I could already collect some programming
                                experiences in different programming languages
                                during the realization of smaller projects.
                                <br />I love learning, solving problems, and
                                building things and I want to use these talents
                                to design things and create systems that benefit
                                humanity and want to have a part in developing
                                technologies that will improve people’s lives
                                and help further our understanding of the
                                universe.
                            </p>
                            <p class="section">
                                In 2021 I graduated from
                                <a
                                    href="https://www.tfo-bruneck.it/"
                                >TFO-Bruneck</a>
                                (High-School) with a specialization on
                                electronics and automation engineering in
                                Bruneck, Italy. And was able to achieve top
                                grades in my A-Levels.<br />
                                Currently pursuing a bachelor's degree in
                                computer science at the
                                <a href="https://www.tum.de/">Technical
                                    University of Munich</a>
                                in Germany.
                            </p>
                            <p class="section">
                                If you have any questions, comments, or just
                                want to chat, feel free to get in
                                <a href="/contact">contact </a>
                                with me. I will be happy to answer your
                                questions.
                            </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </body>
</html>