<html lang="en">
    <head>
        <title>Manuel Lerchner</title>
        <script>
            document.getElementById("nav-home").classList.add("activePage")
        </script>
    </head>

    <body class="bg">

        <!-- First Parallax  -->
        <div id="index-banner" class="parallax-container border paralaxBig">
            <div class="top">
                <div class="container">

                    <h1 class="header center white-text text-lighten-2 bold">
                        Manuel Lerchner</h1>

                    <h5
                        class="subtext center white-text text-lighten-2"
                    >Computer Science Student, Developer.</h5>

                </div>
            </div>

            <!-- Welcome Card -->
            <div class="row hide-on-med-and-down">
                <div class="col l10 offset-l1">
                    <div class="card blue-grey darken-1 cardWelcome">
                        <div class="card-content white-text">
                            <div class="section no-padding-top">
                                <span class="card-title">Welcome my website,</span>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <p>
                                    I'm a computer science student and life-long
                                    learner. This is a space for me to post some
                                    of the projects I am working on.<br />
                                    I hope you find a few things which are
                                    interesting to you!</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="parallax"><img
                    class="blurr"
                    src="./images/Developer.jpg"
                /></div>

        </div>

        <!-- Second Parallax  -->
        <div id="index-banner" class="parallax-container border marginTop ">
            <div class="top">
                <div class="container">

                    <h1 class="header center white-text text-lighten-2 bold">
                        Projects</h1>

                    <h5 class="subtext center white-text text-lighten-2">Take a
                        look at some of the projects i worked on</h5>

                </div>
            </div>

            <div class="parallax"><img
                    class="blurr"
                    src="./images/Cyber.jpg"
                /></div>
        </div>

        <!-- Project Cards  -->
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card card2 medium">
                    <div class="card-image">
                        <img src="https://picsum.photos/403" />
                        <span class="card-title">Free Time Learning</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text...</p>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn blue">Free Time Learn</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card medium">
                    <div class="card-image">
                        <img src="https://picsum.photos/402" />
                        <span class="card-title">Free Time Learning</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text...</p>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn blue">Free Time Learn</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card medium">
                    <div class="card-image">
                        <img src="https://picsum.photos/400" />
                        <span class="card-title">Free Time Learning</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text...</p>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn blue">Free Time Learn</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card medium">
                    <div class="card-image">
                        <img src="https://picsum.photos/401" />
                        <span class="card-title">Free Time Learning</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text...</p>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn blue">Free Time Learn</a>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>