<html lang="en">
    <head>
        <title>Register</title>

        <script defer src="/js/register.js"></script>
    </head>

    <body class="bg">

        <!-- First Parallax  -->
        <div id="index-banner" class="parallax-container border paralaxBig">
            <div class="top">
                <div class="container">

                    <h1 class="header center white-text text-lighten-2 bold">
                        Register</h1>

                    <h5 class="subtext center white-text text-lighten-2">Here
                        you can register to access the controller</h5>

                </div>
            </div>

            <div class="parallax">
                <img class="blurr" src="/images/register.jpg" />
            </div>
        </div>

        <!-- Register Card -->
        <div class="row">
            <div class="col l10 s12 offset-l1">

                <div class="card horizontal blue-grey darken-4">

                    <!-- Image  -->
                    <div class="card-image hide-on-med-and-down">
                        <img
                            class="controllerImageBig"
                            src="/images/registerSmall.jpg"
                        />
                    </div>
                    <div class="card-stacked">

                        <!-- Description  -->
                        <div class="row">
                            <div class="row hide-on-med-and-up">
                                <div class="col s12 offset-s1">
                                    <h5
                                        class="orange-text controllerTitle"
                                    >Register</h5>
                                    <h5
                                        class="light-blue-text controllerInfo hidden"
                                        id="registerResponse_mobile"
                                    >None</h5>
                                    <p
                                        class="grey-text text-lighten-4 controllerText"
                                    >Return to
                                        <a href="/controller">Controller</a>
                                    </p>

                                </div>
                            </div>
                            <div
                                class="col l3 offset-l1 s12 m8 offset-m1 hide-on-small-only"
                            >
                                <h5 class="orange-text controllerTitle">
                                    Register</h5>
                                <h5
                                    class="light-blue-text controllerInfo hidden"
                                    id="registerResponse_pc"
                                >None</h5>
                                <p
                                    class="grey-text text-lighten-4 hide-on-med-and-down controllerText"
                                >Here you can register on my Website to get access
                                    the controller.<br />
                                    If your eligible i will accept your account
                                    as soon as possible.
                                </p>
                                <p
                                    class="grey-text text-lighten-4 hide-on-med-and-down controllerText"
                                >Return to
                                    <a href="/controller">Controller</a>
                                </p>
                            </div>

                            <!-- Form -->
                            <form method="POST" id="register_contact">
                                <div class="row">
                                    <div class="col s10 l7">

                                        <!-- Name -->
                                        <div
                                            class="input-field col s12 offset-s1"
                                        >
                                            <i
                                                class="material-icons prefix"
                                            >people</i>
                                            <input
                                                id="name_register"
                                                name="name_register"
                                                type="text"
                                                class="validate white-text"
                                            />
                                            <label
                                                for="name_register"
                                            >Name</label>
                                        </div>

                                        <!-- Email -->
                                        <div
                                            class="input-field col s12 offset-s1"
                                        >
                                            <i
                                                class="material-icons prefix"
                                            >mail_outline</i>

                                            <input
                                                id="email_register"
                                                name="email_register"
                                                type="email"
                                                class="validate"
                                            />
                                            <label
                                                for="email_register"
                                            >Email</label>
                                            <span
                                                class="helper-text"
                                                data-error="error"
                                                data-success="valid"
                                            ></span>
                                        </div>

                                        <!-- Password 1 -->

                                        <div
                                            class="input-field col s12 offset-s1"
                                        >
                                            <i
                                                class="material-icons prefix"
                                            >mode_edit</i>
                                            <input
                                                id="password_register1"
                                                name="password_register1"
                                                class="materialize-textarea validate"
                                                type="password"
                                            />
                                            <label
                                                for="password_register1"
                                            >Password</label>
                                        </div>

                                        <!-- Password 2 -->
                                        <div
                                            class="input-field col s12 offset-s1"
                                        >
                                            <i
                                                class="material-icons prefix"
                                            >mode_edit</i>
                                            <input
                                                id="password_register2"
                                                name="password_register2"
                                                class="materialize-textarea validate"
                                                type="password"
                                            />
                                            <label
                                                for="password_register2"
                                            >Confirm Password</label>
                                        </div>

                                        <!-- Button -->
                                        <div
                                            class="input-field col s12 offset-s1 white-text"
                                        >
                                            <i
                                                class="material-icons Small prefix"
                                            >send</i>
                                            <button
                                                class="btn-small waves-effect waves-light buttonOffsetLeft"
                                                type="submit"
                                                name="action"
                                                value="Registration"
                                            >
                                                Register
                                            </button>

                                        </div>

                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </body>
</html>